* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.125rem;
  font-family: "adobe-clean", sans-serif;
}
body {
  background-color: #333366;
}

.grid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(20, auto);
  grid-template-areas:
    "header header header"
    "baner baner baner"
    "ponencias ponencias ponencias"
    "ponentes ponentes ponentes"
    "registro registro registro"
    "integ integ integ";
}
.header {
  background-color: #333366;
  position: fixed;
  width: 90%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}
.logo-empresa {
  width: 5rem;
  height: 100%;
  margin: 0 5rem;
}
.logo-empresa img {
  width: 100%;
  height: 100%;
}
/*menu*/
.menu-principal ul {
  height: 100%;
  display: flex;
  margin-right: 1.875rem;
  justify-content: center;
  align-items: center;
}
.menu-principal li {
  list-style: none;
  margin: 0 0.625rem;
}
.menu-principal li a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
.menu-principal li:hover > div {
  height: 0.25rem;
  background-image: linear-gradient(to right, #4f43ce, #823fbd, #af3cad);
}
.btn_menu {
  margin-right: 1.875rem;
  font-size: 1.5625rem;
  cursor: pointer;
  display: none;
}
ul.show {
  top: 4.0625rem;
}
.baner {
  grid-area: baner;
  width: 100%;
  height: 43.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.baner h2 {
  font-size: 2rem;
}
.baner h3 {
  font-size: 1.5rem;
}
.ponencias {
  margin: 3rem 0;
  grid-area: ponencias;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.ponencia {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.ponencia img,
.datos {
  margin: 0 0.625rem;
}
.ponencia .datos h2 {
  margin: 0.625rem 0;
  text-align: center;
}
.ponentes {
  margin: 3rem 0;
  grid-area: ponentes;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.ponente {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3125rem;
}
.ponente .img {
  margin: 1rem 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
  border: 0.0625rem solid black;
  box-shadow: 0.3125rem 0.3125rem rgba(0, 0, 0, 0.2);
}
.ponente h3 {
  margin: 1rem;
}

/*Ponentes*/
.p1 .img {
  background-image: url("../img/face1.jfif");
}
.p2 .img {
  background-image: url("../img/face2.jpg");
}
.p3 .img {
  background-image: url("../img/Ilustracion1.jpg");
}
.p4 .img {
  background-image: url("../img/Ilustracion2.jpg");
}
.p5 .img {
  background-image: url("../img/Ilustracion3.jpg");
}
.p6 .img {
  background-image: url("../img/Santa_Apolonia2.jpg");
}

/*Registro de espectadores*/
.registro {
  grid-area: registro;
}
.integrantes {
  margin: 2rem 0;
  grid-area: integ;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.integrante {
  background-color: royalblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.integrantes .integrante .img {
  width: 9.375rem;
  height: 9.375rem;
}

.i1 .img {
  background-image: url("../img/Ilustracion3.jpg");
}

.titulo {
  grid-column: 1/-1;
  justify-self: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
/*Inscripción*/
.registro {
  background-color: #ff9933;
  display: grid;
  grid-template-columns: 1fr;
}

.registro p {
  margin: 0 1rem 1rem 1rem;
}
.registro input {
  margin: 0 1rem 1rem;
  width: 7rem;
  height: 2.5rem;
  background-color: #ff9933;
  border-radius: 0.5rem;
  box-shadow: 3px 2.5px rgba(0, 0, 0, 0.2);
}
/*footer*/
.footer {
  width: 100%;
  height: 18.75rem;
  background-color: #ff9933;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.info {
  background-color: slateblue;
  grid-column: 1/2;
  justify-self: center;
}
.redsocial {
  background-color: rgb(13, 11, 29);
  grid-column: 2/3;
  justify-self: center;
}

.otros {
  background-color: slateblue;
  grid-column: 3/4;
  justify-self: center;
}
.footer div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.redSocial i {
  font-size: 2rem;
  margin-top: 1.875rem;
  margin-right: 0.3125rem;
}
.fa-instagram:hover {
  color: #6c63ff;
}
.fa-facebook:hover {
  color: #6c63ff;
}

@media screen and (max-width: 850px) {
  body {
    font-size: 0.875rem;
  }
  .header {
    height: 4.0625rem;
  }
  .btn_menu {
    display: inline-flex;
  }
  .menu-principal ul {
    position: fixed;
    width: 100vw;
    height: calc(100%-80px);
    top: -100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
  }
  .menu-principal ul li {
    margin: 1.875rem 0 0 0;
    line-height: 1.875rem;
  }
  .menu-principal ul li a {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .logo-empresa {
    margin: 0;
  }

  .ponencias {
    grid-template-columns: repeat(1, 1fr);
  }
  .ponentes {
    grid-template-columns: repeat(2, 1fr);
  }
  .ponente .img {
    width: 9.375rem;
    height: 9.375rem;
    margin-bottom: 0.5rem;
  }
  .integrantes {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer {
    grid-template-rows: repeat(3, 1fr);
  }
  .info {
    grid-column: 1/-1;
  }
  .redsocial {
    grid-column: 1/-1;
  }

  .otros {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .menu-principal ul li {
    margin: 0.3125rem 0 0 0;
  }
  .menu-principal ul {
    overflow: scroll;
    height: calc(100%-65px);
  }
}
@media screen and (max-width: 450px) {
  body {
    font-size: 0.75rem;
  }
  .ponentes {
    grid-template-columns: repeat(1, 1fr);
  }
  .ponente {
    align-items: center;
    padding: 0.3125rem;
  }
  .ponente .img {
    width: 6.25rem;
    height: 6.25rem;
    margin-bottom: 0.5rem;
  }
  .integrantes {
    grid-template-columns: repeat(2, 1fr);
  }
  .integrantes .integrante .img {
    width: 5.625rem;
    height: 5.625rem;
    margin: 0.5rem 0 0 0;
  }
}
